body{
	height:100%;
	margin:0;
}

form{
	margin:auto;
	margin-top:10vh;
	width: 30vw;
	height:20vh;
}

label>img{
	width:50px;
}

.form-check{
	display:inline-block;
	margin-left: 2vw;
}

#submit{
	display:block;
}